<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/a.css">
</head>
<body>
    <div class="banner-div">
        <img src="..//static/qis_banner.png" alt="">
        
    </div>
    <div class="main-div">
        <div class="left-div">
            <img src="..//static/admissions.jpg" alt="">
        </div>
        <div class="right-div">
            <h1>Adimissions open</h1>
            <img src="..//static/college.png" alt="">
        </div>
        <div class="middle-div">
            <img src="..//static/play.jpg" alt="">
        </div>
        <div class="gallery">
            <img src="..//static/class.jpg" alt="">
            <img src="..//static/dining.jpg" alt="">
            <img src="..//static/graduation.jpg" alt="">
            <img src="..//static/seminar.jpg" alt="">
            <img src="..//static/students.jpg" alt="">
            
        </div>
        <div class="hr-div">
            <img src="../static/hr.jpg" alt="fnrbnd">
        </div>
        
        
    </div>
    <div class="bottom">
        <div class="address">
           <details>
            <summary>Address</summary>
            <p>QISCET <br> vengamukapalem,ongole <br> prakasam Dist,AP</p>
           </details>
        </div>
        <div class="input-div">
            <details>
                <summary>LOGIN</summary>
                <form action="">

                    <input type="text" name="name" placeholder="enter name" required><br>
                    <input type="number" name="number" placeholder="enter number"required><br>
                    <input type="email" name="email" placeholder="enter mail"required><br>
                    <select name="course" id="" required>

                        <option value="" disabled selected>select course</option>
                        <option value="cse">CSE</option>
                        <option value="ece">ECE</option>
                        <option value="eee">EEE</option>
                        <option value="me">ME</option>
                    </select><br>
                    <button type="submit" aria-required="">Call ME</button>
        
                </form>
            </details>
            
        </div>
        <div class="content">
            <details>
                <summary>ABOUT</summary>

                Oi Qis:) <br>
                The college is affiliated with JNTU, Kakinada. 
                "This Is The First Engineering Autonomous College in Prakasam district".
            </details>
            
        </div>
    </div>
</body>
</html>